html body{
    border: 0;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a{
    color: #21759b;
    text-decoration: none;
}

a:hover{
    color: #444444;
}

.clear{
    clear: both;
}

.hr{
    border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
}

.wrapper{
    width: 940px;
    margin: auto;
}


.wrapper ul{
    border: 0;
    margin: 0;
    padding: 0;
}

.header{
    background: #E8E9EB;
    border-bottom: 1px solid #dddddd;
    color: black;
    margin-bottom: 7px;
    padding: 0 10px 0 10px;
}


.home{
    float: left;
    height: 50px;
    line-height: 55px;
    padding-top: 5px;
}


.menu #btn_new_post{
    background-color: #d84c31;
    border: 1px solid #d14836;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 14px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 90px;
}

.menu #btn_new_post:hover{
    background-color: #ab3720;
}

.menu{
    color: black;
    height: 45px;
    float: right;
    line-height: 55px;
    list-style: none;
    text-decoration: none;
    padding: 10px 15px 0 15px;
}

.menu #other_more{
    background-color: #d84c31;
    border: 1px solid #d14836;
    border-left: 0;
    color: #ffffff;
    cursor: pointer;
    float: left;
    font-size: 14px;
    line-height: 47px;
    height: 38px;
    text-align: center;
    width: 18px;
}

.menu #other_more:hover{
    background-color: #ab3720 !important;
}


#other_new{
    background-color: #dddddd;
    border: 1px solid #dddddd;
    border-top: 0;
    display: none;
    margin-left: 29px;
    margin-top: 40px;
    position: absolute;
    text-align: center;
    width: 80px;
}

#other_new li{
    list-style: none;
}


.menu_more:hover ul li{
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    list-style: none;
}


.menu_more{
    cursor: pointer;
    float: right;
    font-size: 40px;
    text-decoration: none;
}

.menu_more:hover{
    color: #dddddd;
}


.menu_more ul{
    background-color: #E8E9EB;
    border: 1px solid #dddddd;
    border-top-width: 0;
    color: black;
    display: none;
    font-size: 35px;
    margin: 0;
    padding: 0;
    width: 82px;
    z-index: 10;
}

.menu_more:hover ul{
    border: 0;
    display: block;
    margin-left: -30px;
    font-size: 13px;
    padding: 0;
    position: absolute;
    text-align: center;
}


.sub_menu{
    cursor: pointer;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 10px;
}

.sub_menu:hover{
    background-color: #ffffff;
}

.menu_more:hover ul li{
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
    list-style: none;
}

.detail{
    border: 1px solid #dddddd;
    border-top: 0;
    border-bottom: 0;
    height: 55px;
    line-height: 60px;
    text-align: center;
    width: 50px;
}

.footer{
    background-color: black;
    font-size: 13px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    z-index: -1;
}

.footer a{
    color: #f5f5f5;
}

#txt_title{
    border:0;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
}

.txt{

    margin-bottom: 5px;
    outline: none;
    padding: 0;
    width: 600px;
}

#txt_content{
    border:0;
    height: 500px;
    margin: 0;
    outline: none;
    overflow-y: auto;
    padding: 0;
    resize: none;
    width: 100%;
}

.txt_container{
    border: 1px solid #dddddd;
    padding: 15px;
}

.txt_header{
    height: 25px;
    background-color: #dddddd;
}

.btn{
    background-color: #d84c31;
    border: 1px solid #d14836;
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    height: 38px;
    text-align: center;
    width: 90px;
}
.btn:hover{
    background-color: #ab3720;
}

.loading{
    color: #ffffff;
}