html body{
    background-color: #f5f5f5;
    color: #444444;
    margin: 0;
    padding: 0;
}

a{
    color: #21759b;
    text-decoration: none;
}

a:hover{
    color: #444444;
}

div{
    background-color: white;
}

.clear{
    clear: both;
}

.wrapper{
    background-color: #f5f5f5;
    margin: auto;
    width: 940px;
}

.post_wrapper{
    padding: 10px 30px;
}

.post{
    padding: 10px;
    line-height: 24px;
}

.post_title{
    font-size: 22px;

}

.post_content{
}

.post_footer{
    border-bottom: 1px solid #f5f5f5;
    font-size: 13px;
    color: gray;
}

.post_footer_no_border{
    font-size: 13px;
    color: gray;
}

.menu{

}

.menu ul {
    margin: 0;
    padding-left: 40px;

}

.menu ul li {
    cursor: pointer;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 10px 20px 10px 0;
}

.header{
    border-bottom: 1px solid #f5f5f5;
    padding: 10px 40px 20px 40px;
}

.header .name{
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
}

.top{
    background-color: black;
    height: 5px;
}

.pager{
    height: 30px;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
}

.footer{

    background-color: black;
    font-size: 13px;
    line-height: 50px;
    height: 50px;
    text-align: center;
}

.footer a{
    color: #f5f5f5;
}


