$def with (params)
$var title:
    $params.title
<link href="/static/css/jquery.atwho.css" rel="stylesheet">
<script type="text/javascript" src="/static/js/jquery.allowtab.js"></script>
<script type="text/javascript" src="/static/js/jquery.caret.js"></script>
<script type="text/javascript" src="/static/js/jquery.atwho.js"></script>
<input id="post_id" type="hidden"/>
<div class="txt_container">
    <input id="txt_title"/>
    <div class="hr">&nbsp;</div>
    <textarea id="txt_content"></textarea>
</div>
<br>
<div>
    <input type="button" id="btn_save" class="btn" value="保 存">
</div>