$def with (params)
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="仅仅是一个博客">
    <title>$params['name']</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/util.js"></script>
    <script type="text/javascript" src="/static/js/blog.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/blog.css">
</head>
<body>
    <div class="top">&nbsp;</div>
    <div class="wrapper">

        <div class="header">

            <div class="name">$params['blog'].name</div>
            $params['blog'].sub_title
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="/">首页</a>
                </li>
                $for menu in params['menu_list']:
                    <li>
                        <a href="/category/$menu">$menu</a>
                    </li>

                <li>
                    <a href="/category/more">所有分类</a>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
        <br>
        $for post in params['post_list']:
            <div class="post_wrapper">
                <div class="post post_title">
                    <a href="/post/$post.id">$:post.title</a>
                </div>
                <div class="post post_content">
                    $:post.content
                </div>
                <div class="post post_footer">
                标签:test &nbsp;&nbsp; 所属:<a href="/category/$post.category">$post.category</a>
                </div>
            </div>
        <div class="pager">
            <a href="/category/$params['name']/page/2">下一页</a>
            <a href="/category/$params['name']/page/1">上一页</a>
        </div>
    </div>

    <br>
    <div class="footer">
        <a href="https://github.com/tonghuashuai/OnlyBlogWeb">
            源自 Python web.py Redis
        </a>
    </div>
</body>
</html>