$def with (params)
$var title:
    $params.title
$var blog_name:
    $params.blog.name
$var blog_title:
    $params.blog.title

<div class="menu">
    <ul>
        <li>
            <a href="/">首页</a>
        </li>
        $for menu in params.menu_list:
            <li>
                <a href="/category/$menu">$menu</a>
            </li>
        <li>
            <a href="javascript:void(0);">所有分类</a>
            <div class="sub_menu_container">
                $for category in params.categories:
                <a href="/category/$category">$category</a><br>
            </div>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<div id="post">
$for post in params.post_list:
    <div class="post_wrapper">
        <div class="post post_title">
            <a href="/post/$post.id">$:post.title</a>
        </div>
        <div class="post post_content">
            $:post.content
        </div>
        <div class="post post_footer">
            所属:<a href="/category/$post.category">$post.category</a>&nbsp;&nbsp;&nbsp;&nbsp;标签:
            $for tag in post.tags
            <a href="/tag/$tag">$tag</a>&nbsp;
        </div>
    </div>
</div>
<div id="pager" class="pager" onclick="getNext($params.current_page, '/category/$params.special/page/')">
    下一页
</div>
