$def with (params)
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="仅仅是一个博客">
    <title>$params.title</title>
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
    <script type="text/javascript" src="/static/js/util.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/css/login.css">
</head>
<body>
<div class="wrapper">
    <div class="msg">
        $params.message
    </div>
    <div class="login_area">
        登录
    </div>
    <div class="login_area">
        <div class="content">
            <form method="post" action="/login">
                <div class="tip" id='username_tip' title="用户名">U</div>
                $if params.other and params.other.has_key('username'):
                    <input type="text" name="username" id="username" value="$params.other['username']" class="txt"/>
                $else:
                    <input type="text" name="username"  id="username" class="txt"/>
                <div class="clear"></div>
                <p>
                <div class="tip" id='password_tip' title="密码">P</div>
                $if params.other and params.other.has_key('username'):
                    <input type="password" name="password" id="password" value="$params.other['password']" class="txt"/>
                $else:
                    <input type="password" name="password" id="password" class="txt"/>
                <div class="clear"></div>
                <p>
                <input type="button" id="btn" value="登 录"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>