$def with (params)
$var title:
    $params.title
$var blog_name:
    $params.blog.name
$var blog_sub_title:
    $params.blog.sub_title

<div class="menu">
    <ul>
        <li>
            <a href="/">首页</a>
        </li>
        $for menu in params.menu_list:
            <li>
                <a href="/category/$menu">$menu</a>
            </li>
        <li>
            <a href="/category/more">所有分类</a>
        </li>
    </ul>
    <div class="clear"></div>
</div>
<br>
<div id="post">
$for post in params.post_list:
    <div class="post_wrapper">
        <div class="post post_title">
            <a href="/post/$post['id']">$:post['title']</a>
        </div>
        <div class="post post_content">
            $:post['content']
        </div>
        <div class="post post_footer">
            标签:<a href="/tag/$post['tag']">$post['tag']</a> &nbsp;&nbsp; 所属:<a href="/category/$post['category']">$post['category']</a>
        </div>
    </div>
</div>
<div id="pager" class="pager" onclick="getNext($params.current_page, '/tag/$params.special/page/')">
    下一页
</div>
